.app {
    display: grid;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    grid-area: cabecalho;
}

.conteudo {
    padding: 0 2rem;
    grid-area: conteudo;
}

.rodape {
    padding: 1rem;
    color: #333333;
    font-size: .8rem;
    grid-area: rodape;
    text-align: center;
    background: #fdfdfd;
}